* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

body,
main,
.left,
.right {
  display: flex;
}

body,
main {
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

main {
  height: 37rem;
  width: 62.8rem;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0.35);
  position: relative;
}

.left,
.right {
  height: 37rem;
  width: 31.4rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--winner {
  background-color: #2f2f2f;
}

div {
  text-align: center;
}

.player-container {
  color: #222;
  text-transform: uppercase;
}

.player {
  font-size: 2.5rem;
  font-weight: 600;
}

.score {
  color: #c7365f;
  font-size: 4.7rem;
}

.current-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #c7365f;
  height: 7.6rem;
  width: 13rem;
  border-radius: 0.6rem;
}

.current {
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
}

.current-score {
  font-size: 2rem;
  color: #fff;
}

img {
  position: absolute;
  width: 6.1rem;
  top: 28%;
}

.btn {
  position: absolute;
  cursor: pointer;
  position: absolute;
  color: #444;
  background: none;
  border: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.1rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.new-game {
  top: 7%;
}

.roll-dice {
  top: 67%;
}

.hold {
  top: 78%;
}

.hidden {
  display: none;
}
